$white: #ffffff;
$light_grey: #bdbdbd;
$grey: #7a7a7a;
$black: #000000;
$light_blue: #e9edf6;
$blue: #5c90f4;
$dark_blue: #454664;
$green: #93b4bc;
$red: #8b201d;
$yellow: #e08d3a;
$shadow_colour: #020c1bb3;