@import "./_breakpoints";
@import "./_colours";

@mixin container() {
    display: block;
    background-color: $white;
    padding-top: 80px;
    min-height: calc(100vh - 80px);
}

@mixin page() {
    display: block;
    width: calc(100% - 80px);
    margin-left: 80px;
    background-color: $light_blue;
    @media (max-width: $sm-screen) {
        width: 100%;
        margin-left: 0;
        padding-top: 70px;
    }
}

@mixin content() {
    display: block;
    width: 85%;
    min-height: calc(100vh - 80px);
    margin: auto;
}