@import "../vars/_index";

.noData_container {
    display: block;
    width: auto;
    text-align: center;
    h1 {
        color: $black;
        font-weight: 600;
        font-size: $xxl-font-size;
    }
}